<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="text-center w-50 p-50 container bg-dark text-white fs-5 mt-5">
  <h2>Transaction History</h2>
  <table class="w-100 container w-50 bg-dark p-2 text-whitep-5 mt-4">
    <thead class="bg-secondary">

      <tr>
        <th>Type</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Credit</td>
        <td>52000</td>
      </tr>

      <tr>
        <td>Debit</td>
        <td>200</td>
      </tr>

</tbody>
</table>
</div>
</body>
</html>